// Colors
$primary: #4a3aff;
$primary-darken: #2a1cca;
$secondary-bg: #f3f1ff;
$neutral-800: #170f49;
$neutral-700: #514f6e;
$neutral-600: #6f6c90;
$neutral-500: #a0a3bd;
$neutral-400: #d9dbe9;
$neutral-300: #eff0f6;
$neutral-200: #f7f7fb;
$neutral-100: #ffffff;
$success: #5bc729;
$success-bg: #effbe9;
$error: #fd2727;
$error-bg: #fdf2f2;
$warning: #ff9538;
$warning-bg: #fadec5;
$text: #191328;
$border: #ececf7;

$transition: 0.3s ease-in-out;

// Font weights
$weight-regular: 400;
$weight-bold: 700;

// Font sizes
$fs-h1: 50px;
$fs-h2: 34px;
$fs-h3: 24px;
$fs-h4: 22px;
$fs-h5: 18px;
$fs-base: 16px;
$fs-small: 14px;
$fs-mini: 12px;

// Line heights
$lh-h1: 62px;
$lh-h2: 46px;
$lh-h3: 35px;
$lh-h4: 28px;
$lh-h5: 24px;
$lh-base: 28px;
$lh-small: 20px;
$lh-mini: 16px;

// Mobile breakpoint
$mobile: 640px;
