@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../assets/fonts/Open-Sans/OpenSans-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Open-Sans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../../assets/fonts/Open-Sans/OpenSans-Bold.woff2') format('woff2'),
       url('../../assets/fonts/Open-Sans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}